name: Build YoudaoNote VIP Tweak

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Dependencies
        run: |
          brew install ldid dpkg
          git clone --depth=1 https://github.com/theos/theos.git $HOME/theos
          git clone --depth=1 https://github.com/xybp888/iOS-SDKs.git $HOME/iOS-SDKs
          mkdir -p $HOME/theos/sdks
          cp -r $HOME/iOS-SDKs/iPhoneOS15.5.sdk $HOME/theos/sdks/
      
      - name: Build
        run: |
          cd $GITHUB_WORKSPACE
          export THEOS=$HOME/theos
          make clean
          make package
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Tweak-Deb
          path: packages/*.deb
